/*html{
	scroll-behavior: smooth;
	overflow: hidden;
}	*/
p{
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-family: 'Montserrat Alternates', sans-serif;
}




	/*Navigation bar*/

#navigation{
	background-color: /*#0779e4*/ black;
	/*padding:1% 5% 1% 1%;*/

}
#navigation img{
	border-radius: 100%;
}
#navigation h4{
	font-family: 'Righteous', cursive;
	color: white;
	padding-top: 2%;

}
.container-fluid{
	padding: 0% 5% 0% 7%;
}
.nav-link{
	font-family: 'Montserrat Alternates', sans-serif;

}
.navbar{
	padding-top: 0%;
	padding-bottom: 0%;
}
.ws{
	color: #25D366;
	padding-left: 50px;
	animation: mymove1 1s infinite;
}

@keyframes mymove1 {
  from {color: white;}
  to {color: #25D366;}
}



		/*HOME*/
#home{
	/*background-image: url("homeBg.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5% 4%;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.homeLogo{
	padding-bottom: 4%;
}
#home h1{
	font-family: 'Righteous', cursive;
	letter-spacing: 4px;
	font-size: 4em;
	padding-bottom: 2%;
	opacity: 90%;
	color: #BA922D;
	-webkit-text-stroke: 2px white;  

}
#home h4{
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	-webkit-text-stroke: 0.7px #BA922D;  
	

}
/*.home-row{
	padding:5% 5% 5% 5%;

}*/
.homeRowLeft{
	padding: 20% 0% 10% 0%;
	text-align: center;
	color: white;
	
}
.button{
	padding-top: 3%;
}
.button button{
	background-color:#BA922D;
}
.homeRowRight{
	padding-left: 10%;
}


			/*ABOUT*/
#about{
	padding: 5% 8% 6% 8%;
	background-color: black;
}
.name{
	color: blue;
}
.aboutRow{
	padding:5% 2% 0% 5%;
}
#about h1{
	text-align: center;
	padding-top:  5%; 
	color: #BA922D;
}
.aboutLeft{
	padding-top: 1%;
 	text-align: center;
}
.naming{
	padding-top: 3%;
	color: #0779e4;
}
.aboutDescription{
	font-size: 1.2em;
	padding-right: 0%;
	color: white;
	text-align: justify;
}
.founderImage{
	width: 10em;
	border-radius: 100%;
}

			/*PRODUCTS*/
#products{
	padding: 5% 10%;
	background-image: url("aboutBg.jpg");
}
.prhead{
	text-align: center;
	margin-bottom: 5%;
	color: #BA922D;
}
.card{
	margin:6% 4%;
}
.card:hover{
	box-shadow: 0 5px 15px #BA922D;
}


			/*SERVICES*/
#service{
	background-color: black;
	color: black;
	padding: 7% 4% 4% 4%;
	text-align: center;
}

#service p{
	text-align: justify;
	font-size: 1.2em;
	padding: 3% 20% 3% 20%;
	color: white;
}
#service h1{
	color: #BA922D;
	text-align: center;
	padding-top:  5%;
	padding-bottom: 3%; 
}
#service h4{
	color: grey;
	padding-top: 4%;
}
.thunder{
	color: white;
	animation: mymove 1s infinite;
}

@keyframes mymove {
  from {color: white;}
  to {color: pink;}
}



			/*CLIENTS*/
#clients{
	background-color:white	 ;
	text-align: center;
	color: black; 
	padding: 8% 6% 6% 4%;

}
#clients h4{
	padding-top: 1%;
	color: grey;
}

#clients h3{
	text-align: center;
	color: black;
}
#clients h1{
	text-align: center;
	color: #BA922D;
}
.carousel-item{
	padding: 7% 15%;
	color: black;
}
.icon{
	color: #0779e4;
	font-size: 2em;
}


			/*CONTACT*/
#contact{
	background-color: black;
	padding: 8% 4% 4% 4%;
}
hr{
	height:2px;
	border-width:0;
	background-color:grey;
	opacity: 0%;
}

#contact h1{
	color: #BA922D;
	/*-webkit-text-stroke: 0.5px white;  */
}
#contact strong{
	color: #BA922D;
	text-decoration: underline ;
}
.formQuery{
	text-align: left;
	padding: 4% 0% 4% 20% ;
	color: white;
}

.socialIcons{
text-align: center;

}
.size{
	margin: 20px;
	font-size: 2em; 
}
.contactRight{
	padding: 4% 8% 4% 10% ;
	color: white;
}

#footer{
	background-color: #BA922D;
	color: white;
	text-align: center;
	padding: 1% 15%;

}
/*phone media break point*/
@media(max-width: 992px)
{
.navbar-toggler{
	font-size: 2em;
}
.navLogo{
	width: 4em;
	height: 4em;
}
.navbar-brand{
	font-size: 1em;
}
.nav-link{
	font-size: 1em;
}
.ws{
	padding-top: 10px;
	padding-left: 0px;
}

/*home*/

#home{
	
	
	background-size: contain;
	background-position: center;
}
.homeRowLeft{
	text-align: center;
	padding:20% 0% 20% 0%;
}
#home h1{
	font-size: 2.5em;
	margin-top: 50%;

	
}
#home h4{
	font-size: 1em;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	-webkit-text-stroke: 0px black;
}
.buttonHome{
	font-size: 1em;
	padding: 2%;

}
.button button{
	width: 200px;
	height:50px;
}

.homeLogo{
	width: 10em;
	height: 8em;
}

  /*ABOUT*/
#about{
	text-align: center;
	padding-top: 20%;
	padding-bottom: 20%;
}
#about h1{
	font-size: 2em;
}
.founderImage{
	width: 8em;
	height: 8em;
}
.naming{
	padding-top: 5%;
	padding-bottom: 5%;
}
.naming h4{
	font-size: 2.5em;
}
.naming h6{
	font-size: 2em;
}
.aboutDescription{
	text-align: justify;
	font-size: 1em;
	padding-left: 5%;
	padding-right: 5%;

}

		/*PRODUCT*/
.prhead{
	margin: 15% 0%;
}


       /*SERVICES*/
#service{
	padding-top: 20%;
	padding-bottom: 20%;
}
#service h1{
	font-size: 2em;
}
#service p{
	font-size: 1em;
	padding: 5% 10% 5% 10%;
}
/*.thunder{
	opacity: 0%;

}*/
#service h4{
	font-size: 1em;
	padding-top: 10%;
}



		/*CLIENTS*/

#clients h1{
	font-size: 1.8em;
	margin-top: 10%;
}
#clients p {
	font-size: 1em;
	text-align: justify;
}
#clients h3 {
	font-size: 2em;
	padding-top: 5%;
	padding-bottom: 10%;
}
#clients h4{
	padding-top: 5%;
	font-size: 1em;
	padding-bottom: 10%;
}
.client{
	width: 6em;
	height: 6em;

}

		/*CONTACT*/

#contact h1 {
	font-size: 2em;
	padding-bottom: 5%;
}
hr{
	height:2px;
	border-width:0;
	background-color:grey;
	opacity: 100%;
	margin: 10% 0%;
}
.formQuery{
	text-align: center;
	padding: 4% 5% 4% 5% ;
	font-size: 1em;
}
.formClass input{
	font-size: 1em;
}
.formClass textarea{
	font-size: 1em;

}
.formClass label{
	font-size: 1em;

}
#contact h4 {
	font-size: 1em;

}
#contact p{
	font-size: 0.5em;
}
.contactRight{
	font-size: 2em;
}



.socialIcons{
	text-align: center;
}
.size{
	font-size: 1em;
	padding: 1%;
}
}